.App {
  text-align: center;
}

.App-content-wrapper {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 50px;
}

.tiny-chart-container {
  /*  some kinda responsiveness */
  width: 50vw;
  max-width: 450px;
  min-width: 100px;

  /* flex */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Scatter {
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;
  padding-top: 10vh;
}
.Scatter p {
  /* font-size: calc(5px + 2vmin); */
  /* padding: 10px, 50px; */
  color: #282c34;
  /* font-weight: bolder; */
}

.Scatter-select {
  min-width: 150px;
}
